@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotateFull{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

#btnRefresh:hover img{
  animation: rotateFull linear .8s infinite;
}